
.android-logo-image {
  height: 28px;
  width: 122px;
  margin-left:10px;
}


.mdl-textfield--expandable {
  width: auto;
  
}


.android-mobile-title {
  display: none !important;
}




/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
    margin-left:0px;
  }

  .android-mobile-title {
    display: block !important;
    position: absolute;
    margin-left:0px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.android-search-box.is-focused ~ .android-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
    opacity: 0;
  }

 


}



#detail-card{
    padding-left:0px;
    padding-right:0px;
}

#hr{
    color:#FF4081;
    background-image:#FF4081;
    border-top:1px solid red;
}































    
    
    
    
  
  
  
#error {
    color:red;
}
  
  
  
input[type=text] {
    background-color:  #ffffff;
    color: grey;
    
}

#experienced{
    color: IndianRed;
    font-weight:smaller;
    font-weight:bolder;
    font-size:small;
}
  
#count{
    color: IndianRed;
    font-weight:smaller;
    font-weight:bolder;
    font-size:small;
}

.pagination {
    text-align:center;
}
.material-icons.md-36 { 
  font-size: 30px;
  float:right;
}
.material-icons.orange600 { 
  color: #ff4081;
  float:right;
 }
 
.account-list{
  color:grey;
 }

#post-section{
  margin-bottom:10px;
  margin-top:10px;
}

.mdl-textfield__label.expandable:after{
    background-color: rgb(255,64,129) ;
}



#title{
    text-align:center;
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
  color:rgb(255,64,129);
}

.time {
  color: grey;
  font-size:x-small;
}

.tweet-link{
    color:blue;
    font-size:xx-large;
}

a{
  text-decoration:none;
}


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
#resolved{
  background-color: green;
  color:#ffffff;
  font-size:small;
}
#unresolved{
  background-color: red;
  color: #ffffff;
  font-size:small;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 50px;
  padding-left:0px;
  
}

div.auth_title{
    margin: auto;
    width: 100%;
    padding-left: 10px; 
    padding-top: 5px;
    padding-bottom: 10px;
    background-color:Silver;
    }
div.auth-info{
    clear:right;
    overflow:hidden;
    padding-left:10px;
    padding-top:0px;
}
div.auth-info h3{
    margin-bottom:0px;
}
div.auth-info p{
    margin:0em;
    position:relative;
    color:blue;
}
img.auth-image{
    float: left;
    padding-top:30px;
    
}
div.material-icons{
    position:static;
    font-size: 16px;
}
span.percent_issue{
    font-size:large;
}


table td{
    color:green;
    font-weight: bold;
}

#form{
  align:center;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}


 .mdl-demo .mdl-layout-title {
     position: relative;
    padding-left:50px;
  }

  .mdl-demo .android-logo-image {
       position: absolute;
     bottom: -10px;
    }
 .mdl-demo .mdl-layout__drawer-button {
    background: transparent;
    color: #FF4081;
    top:-10px;
  }

.mdl-demo .mdl-layout__header-row {
  padding-left:0px;
  height:15px;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h2 {
  font-size: inherit;
}


.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 1px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab{
  height: 64px;
  line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
  margin-bottom:100px;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
  margin-bottom:10px;
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h5{
  margin-top: 0px;
  margin-bottom: -10px;
 
}
.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 10px;
  color: inherit;
}
.mdl-demo.mdl-demo .mdl-card__supporting-text p.text{
  margin-top: 0px;
  margin-bottom: -10px;
 
}
.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl-demo section.section--center {
  max-width: 860px;
}
.mdl-demo #features section.section--center {
  max-width: 620px;
}
.mdl-demo section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mdl-demo section > .section__play-btn {
  min-height: 200px;
}
.mdl-demo section > header > .material-icons {
  font-size: 3rem;
}
.mdl-demo card > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
  text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.mdl-demo #features section {
  margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px;
}
.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-demo .mdl-menu__container {
  z-index: 99;
}


#container{
  display:none;
  width:95%;
  margin:auto;
}









.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}








.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}




.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
.demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
.demo-card-square > .mdl-card__title {
    color: #fff;
    margin-bottom:-20px;
    height:200px;
    font-weight:bold;
    
  }
#hotel-accomodation{
    background: url(/static/images/hotel.jpg);  
    font-weight:bold;
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#hotel-accomodation{
    color:White;
}
#automotive{
    background: url(/static/images/automobile.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#automotive{
    color:Gold;
}
#online-shopping{
    background: url(/static/images/commerce1.jpg); 
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#online-shopping{
    color:Black;
}

#media-communication{
    background: url(/static/images/media.jpg); 
    background-size: 320px 200px;
    background-repeat: no-repeat;    
}
#media-communication{
    color:White;
}
#telecommunication{
    background: url(/static/images/telephone.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#telecommunication{
    color:Gold;
}
#event-organisation{
    background: url(/static/images/event.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#event-organisation{
    color:White;
}
#government-agencies{
    background: url(/static/images/government.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#government-agencies{
    color:Gold;
}    
#travel-transport{
    background: url(/static/images/luggage.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}

#travel-transport{
    color:Gold;
}
#medical{
    background: url(/static/images/medical.jpg); 
    background-size: 320px 200px;
    background-repeat: no-repeat;    
}
#medical{
    color:#000000;
}
#banking-instituition{
    background: url(/static/images/bank.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#banking-instituition{
    color:White;
}
#food-beverages{
    background: url(/static/images/food.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#food-beverages{
    color:#000000;
}
#retail-shopping{
    background: url(/static/images/store.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#retail-shopping{
    color:#ffffff;
}
#building-construction{
    background: url(/static/images/construction.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}

#university-or-academic-institution{
    background: url(/static/images/grad.jpg);  
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
#university-or-academic-institution h2{
    color:Gold;
}

.demo-card-square > .mdl-card__title h2{
    font-weight:bolder;
    
  }
.demo-card-square > .mdl-card__supporting-text {
    margin-top:10px;
  } 
.demo-card-square > .mdl-card__accent {
    background: #ff9800;
    
}
  

footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
  float:center;
  width:100%;
}