{% load staticfiles %}
<!doctype html>
{% load my_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Prissue-a public log of consumers' complaint">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
     <title>
    {% block title %}
     Prissue - A public log of consumer issues.
    {% endblock %}
    </title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/notifier.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-drawer mdl-layout__drawer">
       
        <nav class="mdl-navigation">
        {% if user.is_authenticated %}
          <a class="mdl-navigation__link" href="{% url 'home' %}">Home</a>
          <a class="mdl-navigation__link" href="{% url 'home' %}">Post an Issue!</a>
          <a class="mdl-navigation__link" href="{% url 'user_profile' username=request.user.username %}">My Profile</a>
          <a class="mdl-navigation__link" href="{% url 'category' %}">Categories</a>
          <a class="mdl-navigation__link" href="{% url 'archive_detail' %}">Archive({% number_of_saved request %})</a>
          <a class="mdl-navigation__link" href="{% url 'following' username=request.user.username %}">Following({% number_of_fllwrs  request %})</a> 
          <a class="mdl-navigation__link" href="{% url 'create-authority' %}">Submit Organization</a>
          {% else %}
          <a class="mdl-navigation__link" href="{% url 'home' %}">Post an Issue!</a>
          <a class="mdl-navigation__link" href="{% url 'category' %}">Categories</a>
         <!-- <a class="mdl-navigation__link" href="#">Advanced Search</a>-->
          {% endif %}
          <a class="mdl-navigation__link" href="{% url 'random_ten' %}">Random 10</a>
           <hr/>
           <div style="margin-left:0em" align='center'>
         <span style="color:black;font-size:small"><a href="{% url 'about' %}">About</a> &nbsp&nbsp&nbsp <a href="#">Rules</a> &nbsp&nbsp&nbsp <a href="#">Legals<a/> &nbsp&nbsp&nbsp <a href="{% url 'account_login' %}">Account</a></span></div>
        </nav>
      </div>
      <header class="mdl-layout__header mdl-color--scroll">
        <div class="mdl-layout--fixed-header mdl-layout__header-row">
        </div>
        <div class="mdl-layout--fixed-header mdl-layout--fixed-header mdl-layout__header-row">
         <span class="android-title mdl-layout-title">
           <a href="{% url 'home' %}">   <img class="android-logo-image" src="{% static 'images/android-logo.png' %}"> </a>
          </span>
          <span class="android-mobile-title mdl-layout-title">
          <a href="{% url 'home' %}">  <img class="android-logo-image" src="{% static 'images/android-logo.png' %}">  </a>
          </span>
        <!-- <span class="mdl-layout-title">
          <h3>prissue.com</h3>
          </span>-->
          <div class="mdl-layout-spacer"></div>
          <form action="/results/" method="get">
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons orange600">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" name="q" type="text" id="search-field">
              <label id='expandable' class="mdl-textfield__label expandable" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
          
          
      <!--      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
               <label class="mdl-button mdl-js-button mdl-button--icon" for="text8">
                  <i class="material-icons orange600">search</i>
               </label>
               <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" name="q" id="text8"/>
                     <label id='expandable' class="mdl-textfield__label expandable" for="sample-expandable">Expandable Input</label>
               </div>
            </div>-->
          </form>
          
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" style='float:right' id="account">
              <i class="material-icons orange600 md-36" id="account">account_circle</i></button>
        </div>
        <div class="mdl-layout--fixed-header mdl-layout__header-row">
        </div> 
        <div class="mdl-layout__header-row portfolio-navigation-row">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
         
           
       {% block header %}
        
           {% endblock %}          
          </nav>
          
          </div>
      
       
          
      </header>
      <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
      {% block content %}
      {% endblock %}
      </div>
      
      {% block footer %}
      
      {% endblock %}
      <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Copyright &copy; 2016 Prissue.com</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
      </main>
      </div>
       <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="account">
              {% if user.is_authenticated %}
              <li id="account-list" class="mdl-menu__item"<span class="account-list">My Profile</span></li>
              <li id="account-list" class="mdl-menu__item"><a href="{% url 'account_logout' %}"><span class="account-list">Logout</span></a></li>
             Logged in as <b>{{request.user.username}} </b>
              {% else %} 
              <li id="account-list" class="mdl-menu__item"><a href="{% url 'account_login' %}"><span class="account-list">Sign In</span></a></li>
	          <li id="account-list" class="mdl-menu__item"><a href="{% url 'account_signup' %}"><span class="account-list">Sign Up</span></a></li>
              User not logged in
           {% endif %}
             </ul>
         
   
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    
    
  </body>
</html>

    

