



{%  extends 'layouts/base.html' %}
{% load account %}
{% load humanize %}
{% load socialaccount %}
{% block title %}
    Feed-{{block.super}}
    {% endblock %}
    {% block header %}
    
    <a href="{% url 'home' %}" class="mdl-navigation__link">Stream</a>
         <a href="{% url 'highest_concerned_feeds' %}" class="mdl-navigation__link is-active">Issue</a>
          <a href="{% url 'authority_highest_feed' %}" class="mdl-navigation__link">Organization</a>
      {% endblock %}
      {% block content %}
<div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                
                <div class="mdl-card__supporting-text">
                <h2 class="mdl-card__title-text"><b>Update Issue</b></h2>
                        
                        
                        <form role="form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield ">
    {{form.text}}
    <label class="mdl-textfield__label" for="{{form.text.id_for_label}}">Cheated on?Blow the whistle here...</label>
    </div>
    <br/><br/>
      
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox">
      {{form.resolved}}
      <span class="mdl-checkbox__label">Resolved</span>
                     </label>
      <br/>
   
      {{form.files}}
    
    
    
   <br/> {{form.files2}}
    <br/>  {{form.files3}}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-error">
    {{error}}
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    
    <br/> <br/> <button class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-button--raised mdl-button--colored">Update</button><br/>
    
    
    </form>
    {{ form.media }}
                    </div>
                    
                    
                </div>
            </div>
           
            {% endblock %}
            {% block footer %}
      {% endblock %}